---
layout: archive
title: "Course Materials"
permalink: /materials/
author_profile: false
---
{% include base_path %}

{% for post in site.materials %}
  {% include archive-single.html %}
{% endfor %}

<div>
  <p>
    You are not required to buy any texts for this course, as I will provide PDF versions. However, here is a list of books and edited collections included on the syllabus for those who wish to purchase their own copies.
  </p>

  <h3>List of Books and Chapters in Edited Collections</h3>
  <ul class="reading-list">
    <li>
      Banks, A. (2006). Race, rhetoric, and technology: Searching for higher ground. LEA and NCTE.
    </li>
    <li>
      Brown, Jr., J. (2015). Ethical programs: Hospitality and the rhetorics of software. Ann Arbor, MI: University of Michigan Press. Available at http://www.digitalculture.org/books/ethical-programs-hospitality-and-the-rhetorics-of-software/.
    </li>
    <li>
      Burke, K. (1950/1969). Traditional principles of rhetoric. A rhetoric of motives. University of California Press.
    </li>
    <li>
      Clark, D. (2010). Shaped and Shaping Tools: The rhetorical nature of technical communication technologies. Spilka, Ed., Digital literacy for Technical communication, (pp. 85-102). New York, NY: Routledge.
    </li>
    <li>
      Haas, C. (1996). Writing technology: Studies on the materiality of literacy. New York, NY: Routledge.
    </li>
    <li>
      Harris, R. (2000). Rethinking writing. New York, NY: Continuum.
    </li>
    <li>
      Kaptelinin, V. and Nardi, B. (2006). Acting with technology: Activity Theory and Interaction Design. Cambridge, MA: MIT Press.
    </li>
    <li>
      Mattern, S. (2017). Code + clay … Data + dirt: Five-thousand years of urban media. Minneapolis, MN: University of Minnesota Press.
    </li>
    <li>
      Sano-Franchini, J. (2017). Feminist rhetorics and interaction design: Facilitating socially responsible design. L. Potts and M. Salvo, (Eds.), In Rhetoric and Experience Architecture (pp. 84-110). Anderson, SC: Parlor Press.
    </li>
    <li>
      Takayoshi, P., Tomlinson, E., and Castillo, J. (2010). The construction of research problems and methods. In K. Powell and P. Takayoshi, (Eds.), Practicing Research in Writing Studies (pp. 97-121). New York, NY: Hampton Press.
    </li>
    <li>
      Vee, A. (2017). Coding literacy. Cambridge, MA: MIT Press.
    </li>
    <li>
      Wilson III, E.J. & Costanza-Chock, S. (2012). New voices on the net: The digital journalism divide and the costs of network exclusion. In L. Nakamura & P.A. Chow-White (Eds.), Race After the Internet (pp. 246-268). New York, NY: Routledge.
    </li>
  </div>
</div>

<div>
  <h2>Tools</h2>
  <ul class="texts-list">
    <li>
      Laptop computer (during class; let me know if you do not have access to a laptop). <strong>Be sure to have the means to log into your account vis-a-vis the 2-factor authentication</strong>.</li>
    <li>
      VT-affiliated Google Drive: Used for organizing and sharing work files.</li>
  </ul>
</div>
