---
layout: archive
title: "Course Materials"
permalink: /materials/
author_profile: false
---
{% include base_path %}

{% for post in site.materials %}
  {% include archive-single.html %}
{% endfor %}

<div>
  <h2>Texts</h2>
  <p>
    All texts will be provided via links on this site's schedule. Some will link to PDFs that I upload to Google Drive. Other texts will be outbound links to the Web.</p>
</div>

<div>
  <h2>Tools</h2>
  <ul class="texts-list">
    <li>
      Laptop computer (during class; let me know if you do not have access to a laptop). <strong>Be sure to have the means to log into your account vis-a-vis the 2-factor authentication</strong>.</li>
    <li>
      VT-affiliated Google Drive: Used for organizing and sharing work files.</li>
  </ul>
</div>
