---
layout: archive
title: "Course Materials"
permalink: /materials/
author_profile: false
---
{% include base_path %}

{% for post in site.materials %}
  {% include archive-single.html %}
{% endfor %}

<div>
  <h2>Tools</h2>
  <ul class="texts-list">
    <li>
      Laptop computer (during class; let me know if you do not have access to a laptop). <strong>Be sure to have the means to log into your account vis-a-vis the 2-factor authentication</strong>.</li>
    <li>
      VT-affiliated Google Drive: Used for organizing and sharing work files.</li>
  </ul>

  <h2>Texts</h2>
  <p>
    You are not required to buy any texts for this course, as I will provide PDF versions. However, here is a list of books and edited collections included on the syllabus for those who wish to purchase their own copies.
  </p>

  <h3>List of Readings</h3>
  <ul class="reading-list">
    <li>
      Banks, A. (2006). <cite>Race, rhetoric, and technology: Searching for higher ground</cite>. LEA and NCTE.
    </li>
    <li>
      Blas, Z. and Cárdenas, M. (2013). Imaginary computational systems: queer technologies and transreal aesthetics. <cite>AI & Society, 28</cite>, pp. 559–566.
    </li>
    <li>
      Brown, Jr., J. (2015). Ethical programs: Hospitality and the rhetorics of software. Ann Arbor, MI: University of Michigan Press. Available at http://www.digitalculture.org/books/ethical-programs-hospitality-and-the-rhetorics-of-software/.
    </li>
    <li>
      Bivens, R. (27 Jan. 2016). Programming violence under a progressive surface: Facebook&#39;s software misgenders users. The Society Pages. Retrieved 06 Feb. 2016 from <a href="https://thesocietypages.org/cyborgology/2016/01/27/programming-violence-under-a-progressive-surface-facebooks-software-misgenders-users/" target="_blank">https://thesocietypages.org/cyborgology/2016/01/27/programming-violence-under-a-progressive-surface-facebooks-software-misgenders-users/</a>.
    </li>
    <li>
      Burke, K. (1950/1969). <cite>A rhetoric of motives</cite>. University of California Press.
    </li>
    <li>
      Dadas, C. (2017). Hashtag activism: The promise and risk of “attention.” In D. M. Walls &amp; S. Vie, (Eds.) <cite>Social Writing/Social Media: Publics, Presentations, and Pedagogies (pp. 17-36)</cite>. Perspectives on Writing. Fort Collins, CO: The WAC Clearinghouse and UP of Colorado. Retrieved Jan. 6, 2018 from https://wac.colostate.edu/books/social/.
    </li>
    <li>
      Daniels, J. (2012). Race and racism in Internet Studies: A review and critique. <cite>New Media &amp; Society, 15</cite>, pp. 695–719.
    </li>
    <li>
      Edwards, D. (2017). On circulatory encounters: The case for tactical rhetorics. <cite>Enculturation</cite>, Issue 25. Retrieved 11 Dec. 2017 from <a href="http://enculturation.net/circulatory_encounters" target="_blank">http://enculturation.net/circulatory_encounters</a>.
    </li>
    <li>
      Freelon, Deen and McIlwain, Charlton D. and Clark, Meredith D, Beyond the Hashtags: &num;Ferguson, &num;Blacklivesmatter, and the Online Struggle for Offline Justice (February 29, 2016). Center for Media & Social Impact, American University, Forthcoming. Available at SSRN: <a href="https://ssrn.com/abstract=2747066" target="_blank">https://ssrn.com/abstract=2747066</a>.
    </li>
    <li>
      Frith, J. (2017). Big data, technical communication, and the smart city. <cite>Journal of Business and Technical Communication, 31</cite>, pp. 168-187.
    </li>
    <li>
      Haas, C. (1996). <cite>Writing technology: Studies on the materiality of literacy</cite>. New York, NY: Routledge.
    </li>
    <li>
      Harris, R. (2000). <cite>Rethinking writing</cite>. New York, NY: Continuum.
    </li>
    <li>
      Hartzog, M. (2017). Inventing mosquitoes: Tracing the topology of vectors for disease. In C. Boyle &amp; L. Walsh, (Eds.), <cite>Topologies as Techniques for a Post-Critical Rhetoric, (pp. 75-98)</cite>. Cham, Switzerland: Palgrave Macmillan.
    </li>
    <li>
      Hawhee, D. (2004). <cite>Bodily arts: Rhetoric and athletics in ancient Greece</cite>. Austin, TX: University of Texas Press.
    </li>
    <li>
      Lamp, K. (2011). ‘A city of brick’: Visual rhetoric in Roman rhetorical theory and practice. Philosophy and Rhetoric, 44, pp. 171-193.
    </li>
    <li>
      Lum, K., & Isaac, W. (2016). To predict and serve? Significance, 13(5), 14-19.
    </li>
    <li>
      Keyword articles from inaugural issues of <cite>Transgender Studies Quarterly, 1</cite>(1-2): Bio/Logics, pp. 33-35; Biometrics, pp. 35-38; Biopolitics, pp. 38-42; Microaggressions, pp. 129-134; Performativity, pp. 148-150.
    </li>
    <li>
      Mattern, S. (2017). <cite>Code + clay … Data + dirt: Five-thousand years of urban media</cite>. Minneapolis, MN: University of Minnesota Press.
    </li>
    <li>
      Noble, S. U. (2018). <cite>Algorithms of oppression: How search engines reinforce racism</cite>. New York, NY: NYU Press.
    </li>
    <li>
      Poe-Alexander, K. and Hahner, L. A. (2017). The intimate screen: Revisualizing understandings of down syndrome through digital activism on Instagram. In D. M. Walls &amp; S. Vie, (Eds.) <cite>Social Writing/Social Media: Publics, Presentations, and Pedagogies (pp. 225-244)</cite>. Perspectives on Writing. Fort Collins, CO: The WAC Clearinghouse and UP of Colorado. Retrieved Jan. 6, 2018 from https://wac.colostate.edu/books/social/.
    </li>
    <li>
      Roundtree, A. K. (2013). <cite>Computer simulation, rhetoric, and the scientific imagination</cite>. New York, NY: Lexington Books.
    </li>
    <li>
      Sano-Franchini, J. (2017). Feminist rhetorics and interaction design: Facilitating socially responsible design. L. Potts and M. Salvo, (Eds.), In <cite>Rhetoric and Experience Architecture (pp. 84-110)</cite>. Anderson, SC: Parlor Press.
    </li>
    <li>
      Seaver, N. (2017). Algorithms as culture: Some tactics for the ethnography of algorithmic systems. Big Data & Society, 4(2), pp. 1-12.
    </li>
    <li>
      Star, S. L. (1990). Power, technology and the phenomenology of conventions: On being allergic to onions. <cite>The Sociological Review, 38</cite>(1), 26–56.
    </li>
    <li>
      Takayoshi, P., Tomlinson, E., and Castillo, J. (2010). The construction of research problems and methods. In K. Powell and P. Takayoshi, (Eds.), <cite>Practicing Research in Writing Studies (pp. 97-121)</cite>. New York, NY: Hampton Press.
    </li>
    <li>
      Vee, A. (2017). <cite>Coding literacy</cite>. Cambridge, MA: MIT Press.
    </li>
    <li>
      Wickman, C. (2013). Observing inscriptions at work: Visualization and text production in experimental physics research. <cite>Technical Communication Quarterly, 22</cite>, pp. 150-171.
    </li>
    <li>
      Yam, S. (2017). Instagramming the Starbucks <i>Bing Sutt</i>: Nostalgia memory kitsch and the construction of cosmopolitan consumer subjects. <cite>Enculturation</cite>, Issue 25. Retrieved 11 Dec. 2017 from <a href="http://enculturation.net/instagramming_the_starbucks_bing_sutt" target="_blank">http://enculturation.net/instagramming_the_starbucks_bing_sutt</a>.
    </li>
    <li>
      yergeau, m. (2018). <cite>Authoring Autism: on rhetoric and neurological queerness</cite>. Durham, NC: Duke UP.
    </li>
  </ul>

  <h3>List of Supplementary Readings</h3>
  <ul class="reading-list">
    <li>
      Bowker, G. C. &amp; Star, S. L. (1999/2000). <cite>Sorting things out: Classification and its consequences</cite>. Cambridge, MA: MIT Press.
    </li>
    <li>
      Clark, D. (2010). Shaped and Shaping Tools: The rhetorical nature of technical communication technologies. Spilka, Ed., <cite>Digital literacy for Technical communication, (pp. 85-102)</cite>. New York, NY: Routledge.
    </li>
    <li>
      Kaptelinin, V. and Nardi, B. (2006). <cite>Acting with technology: Activity Theory and Interaction Design</cite>. Cambridge, MA: MIT Press.
    </li>
    <li>
      Spinuzzi, C. (2003). <cite>Tracing genres through organizations: A sociocultural approach to information design</cite>. Cambridge, MA: MIT Press.
    </li>
    <li>
      Tufekci, Z. (2014). Engineering the public: Big data, surveillance and computational politics. First Monday, 19(7). Retrieved 2 Dec. 2017 from <a href="http://firstmonday.org/ojs/index.php/fm/article/view/4901" target="_blank">http://firstmonday.org/ojs/index.php/fm/article/view/4901</a>
    </li>
    <li>
      Wilson III, E. J. &amp; Costanza-Chock, S. (2012). New voices on the net: The digital journalism divide and the costs of network exclusion. In L. Nakamura & P.A. Chow-White (Eds.), Race After the Internet (pp. 246-268). New York, NY: Routledge.
    </li>
  </ul>
</div>
