/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */
 @font-face {
   font-family: 'Norwester';
   src: url("../fonts/norwester/webfonts/norwester.ttf") format("truetype");
   font-weight: normal;
   font-style: normal; }
 @font-face {
   font-family: 'BenchNine-Light';
   src: url("../fonts/benchnine/BenchNine-Light.ttf") format("truetype");
   font-weight: normal;
   font-style: normal; }
 @font-face {
   font-family: 'Datalegreya-Dot';
   src: url("../fonts/datalegreya/font-files/Datalegreya-Dot.otf") format("opentype");
   font-weight: normal;
   font-style: normal; }
 @font-face {
   font-family: 'Lato-Light';
   src: url("../fonts/Lato2OFL/Lato-Light.ttf") format("truetype");
   font-weight: normal;
   font-style: normal; }

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $global-font-family;
  line-height: 1.5;

  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

ol.hokie-shade, ul.hokie-shade {
  background-color: rgba(254, 92, 1, 0.03);
  padding: 15px 15px 15px 30px;
  margin-left: 25px;
}

/* -----------------------------------------------------------------------------

  BOX SIZING RESET

----------------------------------------------------------------------------- */
/**,
*::before,
*::after {
  box-sizing: inherit;
}*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}

/*
   FLEXBOX GRID
   ========================================================================= */
.grid {
  border: solid 1px #fe5c01; }

.grid__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
}

.grid__row > * {
  padding: 10px;
  flex: 1 100%;
}

@media all and (min-width: 600px) {
  .sidebar { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .flex__archive,.flex__page {
    flex: 3 0px;
  }
  .sidebar {
    width: 15%;
    order: 1;
  }
  .flex__archive,.flex__page {
    order: 2;
  }
}

.grid__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px; }

@media all and (min-width: 480px) {
  .grid__row--sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; } }
@media all and (min-width: 720px) {
  .grid__row--md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; } }
@media all and (min-width: 960px) {
  .grid__row--lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; } }

/* END FLEXBOX */

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: $type-size-3;
}

h2 {
  font-size: $type-size-4;
}

h3 {
  font-size: $type-size-5;
}

h4 {
  font-size: $type-size-6;
}

h5 {
  font-size: $type-size-6;
}

h6 {
  font-size: $type-size-6;
}

small, .small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1.3em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */

p, pre, blockquote, ul, ol, dl, figure, table, fieldset {
  orphans: 3;
  widows: 3;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* blockquotes */

blockquote {
  margin: 2em 1em 2em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  border-left: 0.25em solid $primary-color;

  cite {
    font-style: italic;

    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}

/* links */

main a {
  word-break: break-all;
}

a {
  &:focus {
    @extend %tab-focus;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

/* code */

tt, code, kbd, samp, pre {
  font-family: $monospace;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: $type-size-6;
  background: $code-background-color;
  border: 1px solid $lighter-gray;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &:before, &:after {
    letter-spacing: -0.2em;
    content: "\00a0"; /* non-breaking space*/
  }
}

/* horizontal rule */

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid $border-color;
}

/* lists */

ul li,
ol li {
  margin-bottom: 0.5em;
}

li ul,
li ol {
  margin-top: 0.5em;
}

ul.texts-list a {
  text-decoration: underline;
}

/* -----------------------------------------------------------------------------

  SCHEDULE ELEMENTS

----------------------------------------------------------------------------- */
/* External-Schedule Styles */
div#flex-schedule {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
div#flex-schedule div[id^='project-'] {
  width: 100%;
  padding: 5px;
}
div#project-datagathering {
  background: #7a0019;
}
div#project-usability-test {
  background: #A31D2A;
}
div#project-analytical-report {
  background: #C13946;
}
div#project-instructions {
  background: #8C2A33;
}
div#project-revised-instructions {
  background: #5B1B21;
}
div[id^='project-'] > h3,
div[id^='assign-project-'] > h3,
div[id^='project-'] p small {
  color: #ffd75f;
  font-family: "BenchNine-Light";
}
div[id^='project-'] h3,
div[id^='assign-project-'] > h3 {
  font-size: 24px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: -25px;
  cursor: row-resize;
}
span.h3-small-uppercase {
  font-size: 20px;
}
div[id^='project-'] p small,
div[id^='assign-project-'] p small {
  font-size: 16px;
  text-align: left;
}

/* Internal-Schedule Styles */
div#flex-schedule div[id^='proj-'] {
  margin: -5px;
  width: 100%;
}
div[id^='proj-'] div[id^='week-']:before,
div[id^='proj-'] div[id^='week-']:after {
  content: " ";
  display: table;
  clear: both;
}
.bordering {
  clear: both;
  margin: 15px auto;
  padding-top: 3px;
  width: 95%;
  border: 1px solid #7a0019;
}
.inner-bordering {
  clear: both;
  margin: 15px auto;
  width: 95%;
  border: 1px solid #9d1d41;
}
.week-bordering {
  clear: both;
  margin: 15px auto;
  width: 95%;
  border: 10px solid #9d1d41;
}
.right-info-details {
  float: left;
  width: 68%;
  margin: 10px 10px 10px 10px;
}
@media all and (max-width: 480px) {
  .right-info-details {
    width: 100%;
  }
  .daily-info ul {
    font-size: 0.9em;
    margin: 0;
  }
}
.right-info-details code {
  font-size: 0.8em;
}
.right-info-details ul li > a {
  text-decoration: underline;
}
.right-info-details ul li > a:hover {
  text-decoration: none;
}
.synopsis {
  cursor: row-resize;
}
.synopsis:hover {
  text-decoration: underline;
  text-indent: 1px;
}
.week-side h2,
.synopsis h3 {
  font-family: 'Norwester';
  font-size: 1.05em;
  font-weight: normal;
  color: #494e52;
}
.daily-info .tuesday,
.daily-info .thursday {
  background: #eda8b6;
  border: 1px solid #7a0019;
  padding: 1em 1.2em;
  margin-bottom: 10px;
  color: #494e52;
  font-size: 0.9em;
}
.daily-info .tuesday h3,
.daily-info .thursday h3 {
  font-size: 0.95em;
  margin-bottom: 10px;
  cursor: default;
}
.daily-info > ul {
  font-size: 0.9em;
  margin-left: -15px;
}
.daily-info ul,
.daily-info ol {
  background: #eda8b6;
}
.phase-description-p {
  padding: 2%;
  background-color: #7A0019;
  color: #ffffff;
  margin: 2%;
  border: 1px solid white;
}
#week-1-1,
#week-4-2,
#week-8-1,
#week-12-1,
#week-15-1 {
  padding-top: 40px;
}
/* Schedule circles */
.week-side {
  height: 7em;
  margin: 1em 1em;
  width: 20%;
  clear: both;
  float: left;
  font-family: 'BenchNine-Light', sans-serif;
  letter-spacing: 2px;
}
@media screen and (max-width:850px) {
  .week-side {
    width: 100%;
  }
}
.week-side svg {
  display: block;
  overflow: visible;
  font-size: 1.25em;
}
.week-side text { fill: #6D6D6D; y: 5; }
.week-side textpath { letter-spacing: 2px; }
.week-side path { fill: #FFD75F; stroke: #7A0019; }

@media all and (max-width: 850px) {
  .right-info-details {
    width: 100%;
  }
}

div[id^="startproj-"] {
  min-height: 100px;
  border: #eda8b6 1px solid;
}
h2.project-heading {
  padding-bottom: 30px;
  padding-left: 10px;
}

/*
   Media and embeds
   ========================================================================== */

/* Figures and images */

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
    -webkit-transition: $global-transition;
    transition: $global-transition;
  }

  > a {
    display: block;
  }

  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }

  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }
}

/* Figure captions */

figcaption {
  margin-bottom: 0.5em;
  color: mix(#fff, $text-color, 25%);
  font-family: $caption-font-family;
  font-size: $type-size-6;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $light-gray;
    -webkit-transition: $global-transition;
    transition: $global-transition;

    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }
}


/* Fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}


/*
   Navigation lists
   ========================================================================== */

nav {

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }
}

/*
   Global animation transition
   ========================================================================== */

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, tr, td, form button, input[type="submit"], .btn, .highlight, .archive__item-teaser {
  -webkit-transition: $global-transition;
  transition: $global-transition;
}

/*
  Projects
  =========================================================================== */

ul.project-top-info {
  list-style-type: none;
  font-size: small;
  padding: 0px;
}
ul.project-top-info li {
  margin: 0px;
}

/*
  Policies
  =========================================================================== */

div.emphases,
ul.emphases {
  background-color: rgba(254,92,1,0.03);
  padding: 15px 15px 15px 30px;
}

/*
  Citations
  =========================================================================== */

.cite > p {
  margin-left: 0.75in;
  text-indent: -0.5in;
  margin-bottom: 2%;
  line-height: 2em;
}
ul.reading-list {
  list-style-type: none;
  margin-left: 15px;
  text-indent: -15px;
  background: none;
  margin-bottom: 2%;
  line-height: 2em;
  padding: 0px;
}

/* -----------------------------------------------------------------------------
  Table
  --------------------------------------------------------------------------- */
table {
  background: #FFF;
}
table td[class*="span"],table th[class*="span"],.row-fluid table td[class*="span"],.row-fluid table th[class*="span"]{display:table-cell;text-align:center;margin-left:0;}
.table {width:100%;border-top: 2px;border-bottom: 2px;}
.table td.fifteen,.table th.fifteen{float:none;width:15%;padding:3px;}
.table td.difficulties,.table th.difficulties{float:none;width:10%;padding:3px;text-align:center;font-size:1.1em;}
.table td.twenty,.table th.twenty{float:none;width:20%;padding:3px;}
.table td.thirty,.table th.thirty{float:none;width:30%;padding:3px;}
.table td.forty,.table th.forty{float:none;width:40%;padding:3px;}
.table td.fifty,.table th.fifty{float:none;width:50%;padding:3px}
.table td.sixty,.table th.sixty{float:none;width:60%;padding:3px}
.table td.seventy,.table th.seventy{float:none;width:70%;padding:3px}
.table tr.hundred,td.hundred,.table th.hundred{float:none;width:100%;padding:3px}
.table tr > td.fifteen {text-align: center;}
.table tr > th {text-align: left;}
.table tr > th {font-size: 1.25em;font-weight: bolder;text-transform: uppercase;}
.table tr > th span {font-size: 0.8em;}
.table tr > th.fifteen {text-align: center;}
.table tr > th small {font-size: 0.8em;}
.striped tbody tr:nth-child(even) td,.striped tbody tr:nth-child(even) th{background-color: #eee;}
ul.tables{margin-left: 3px;list-style-type: none;}
ul.tables > li {margin-bottom: 20px;}

/*
  Figures
  ===========================*/

.figure-inline {
  display: inline-block;
  width: 100%;
  padding: 5px;
  // border: 1px solid rgba(254, 92, 1, 1);
  border-radius: 3px;
  box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
}
.figure-inline img, .figure-inline span {
  width: 98%;
  display: block;
  padding: 5px;
  margin: 0 auto;
  border-radius: 5px
}
figure.proj-img {
  width: 75%;
}
figcaption {
  padding: 5px;
  font-size: 0.8em;
  font-style: italic;
}

/* Lists for Project Processes */
.visual-list {
  margin-left: 25px;
}

.visual-list h3 {
  margin: 15px 0 0 0;
  padding:0;
  font-size: 0.75em;
}

.visual-list p {
  margin-bottom: 25px;
  font-size: 0.45em;
}

ul.visual-list {
  list-style: none;
  margin-left: -15px;
}
ul.visual-list li:before {
  content: '✓';
  font-size: 2em;
}
ul.visual-list li span {
  margin-left: 20px;
  font-size: 1.25em;
}

.visual-list > li{
  width: 80%;
  font-size: 1.95em;
}
.visual-list > li > .image {
  display:inline-block;
}

.visual-list > li > .image,
.visual-list > li > .image > img,
.visual-list img.image {
  width:270px; height:150px;
}

@media screen and (max-device-width: 345px) {
  .visual-list {
    margin: 0;
  }
  .visual-list > li{
    width: 100%;
  }
}

/* ============================
   Tooltip styles
   Thanks to Andrea Ligios
   http://jsfiddle.net/AndreaLigios/jtLbpy62/
   ========================= */
[tooltip] {
  cursor: ns-resize;
}
[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.15s ease;
    padding: 5px;
    color: #333;
    border-radius: 2px;
    font-size: 1rem;
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;

    /* customizable */
    background: #7A0019;
    color: #ffffff;
    margin-top: -20px;
    margin-left: 10px;
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}
